h3{
  background-color: grey;
  color: white;
  text-align: center;
  padding: 20px;
}

.bar {
  background-color: black;
  height: 80px;
}

.barBottom {
  background-color: black;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.cards{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
}